body {
    padding: 0;
    margin: 0;
    background-image: url('assets/collage1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Intro {
    font-family: 'BogamRegular';
    src: url(fonts/BogamRegular.ttf);
}

.description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}
.card {
    background: rgba(0, 0, 0, 0.30);
}

.contactMe {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fs-frm {
    justify-content: center;
}

.socialTags a {
    margin: 10px;
}